# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node dependencies
node_modules/

# Production build
dist/
dist-ssr/

# Local env files
*.local
.env
.env.*

# Large binary office docs
slots/
*Responses*.xlsx

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
